<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/css/admin/font.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
</head>
<body>
    <div id= "bootpay">
        <div class="boot-notify-container"></div>
        <div class="popup-manager" style="width: 0px;"></div>
        <aside id="bootpay-side">
            <div class="d-flex flex-column" id="side-wrapper">
                <div class="side-header">
                    <div class="app-wrapper">
                        <div class="provider-name hover-spin">
                            <span class="comp-provider-name">
                                <span class="pn-name">CrewStation</span>
                            </span>
                        </div>
                        <a class="app-name d-flex justify-content-between align-items-center">
                            <span>CrewStation</span>
                            <i class="mdi mdi-apps">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="menu-wrapper flex-grow-1">
                    <ul class="menu-list">
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 active" data-toggle="collapse" >
                                <span class="menu-name">HOME</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 " data-toggle="collapse" >
                                <span class="menu-name">회원관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <!-- 클릭 이벤트 -->
                            <!-- 회원 목록 클릭 시 collipse 열고 닫기 이벤트 -->
                            <a class="menu-btn d-flex w-100" data-toggle="collapse" >
                                <span class="menu-name">신고</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                            <ul class="menu-sub-list collapse " id="menu-6109064136799700f1ebced6" >
                                <li class="submenu menu-item ">
                                    <a class="boot-link" data-param="0">
                                        
                                        다이어리
                                    </a>
                                </li>
                                <li class="submenu menu-item ">
                                    <a class="boot-link" data-param="0">
                                        
                                        기프트
                                    </a>
                                </li>
                                <li class="submenu menu-item ">
                                    <a class="boot-link" data-param="0">
                                        
                                        크루
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="boot-link menu-btn">
                                <span class="menu-name">결제관리</span>
                            </a>
                            <ul class="menu-sub-list collapse " id="menu-60934308367997007c4c3d2c"></ul>
                        </li>
                        
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 collapsed"data-toggle="collapse">
                                <span class="menu-name">문의</span>
                                <div class="icon-wrapper flex-grow-1 text-right"></div>
                            </a>  
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 collapsed"data-toggle="collapse">
                                <span class="menu-name">배너관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right"></div>
                            </a>  
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="bootpay-main" class="has-menu">
            <div id="header-wrapper">
                <div id="bootpay-header" class="d-flex false">
                    <div class="flex-grow-1"></div>
                    <div>
                        <div class="header-menu-group d-flex">
                            <!-- 상단 -->
                            <!-- 상단 공지사항 -->
                            <a href="" class="bootpay mr-3">
                                <div class="header-menu-btn " data-for="" data-toggle="" data-custom-class="" title="" data-original-title="공지사항">
                                    <!-- hover시 aria-describedby="tooltip"이 뒤에 표기 -->
                                    <i class="mdi mdi-bullhorn-variant-outline"></i>
                                </div>
                            </a>
                            <!-- 상단 관리자(이메일) 정보 -->
                            <div class="user-menu">
                                <!-- 주석 아래에 show 유무로 메뉴가보임 -->
                                <div id="usermenubtn"class="user-menu-wrapper d-flex align-items-center cursor-pointer" data-toggle="dropdown">
                                    <div class="user-avatar">T</div>
                                    <div class="user-menu-email">test@gamil.com</div>
                                </div>
                                <div id="usermenu" class="user-menu-content dropdown-menu dropdown-menu-right">
                                    <ul class="menu-body list-unstyled">
                                        <li>
                                            <a class="boot-link d-block text-dark"href="">
                                                <i class="mdi mdi-bell-outline mr-2 mdi-18px"></i>
                                                등록

                                            </a>
                                        </li>
                                        <li>
                                            <a class="d-block text-dark"href="">
                                                <i class="mdi mdi-logout-variant mr-2 mdi-18px"></i>
                                                로그아웃
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page ana-user-index wide-page">
                <div class="page-header">
                    <div class="page-title">HOME</div>
                    <div class="page-subtitle"></div>
                </div>
                <div class="page-body">
                    <div class="tab-box">
                        <div class="tab-row white-panel">
                            <div class="row">
                                <div class="col col-auto">
                                    <ul class="tab-name-list list-unstyled list-inline">
                                        <!-- 클릭 한 부분은 active -->
                                        <li class="tab-name active">회원 분석</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-body">
                            <div class="tab-wrapper user-tab">
                                <div id="join_chart" class="echarts-for-react boot-chart height-300"
                                     _echarts_instance_="ec_1754465654340"
                                     size-sensor-id="97"
                                     style="width:100%; min-height:250px;"></div>
                                <div class="chart-box access-data-list">
                                    <!-- 그래프 내용 -->
                                    <!-- 최근 가입자 수, 신규 크루 생성 수,  -->
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3 statics-graph">
                                            <div class="access-data data-member-page">
                                                <div class="title">오늘 가입자 수</div>
                                                <div class="value">
                                                            <span class="icon">
                                                            </span>
                                                    <span class="unit" id="todayJoin">-</span>
                                                    <span class="unit">명</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 statics-graph">
                                            <div class="access-data data-member-page">
                                                <div class="title">월별 가입자 수</div>
                                                <div class="value">
                                                            <span class="icon">
                                                            </span>
                                                    <span class="unit" id="monthlyJoins"></span>
                                                    <span class="unit">명</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 ">
                                            <div class="access-data data-member-page">
                                                <div class="title"> 총 크루 수</div>
                                                <div class="value">
                                                            <span class="icon">
                                                            </span>
                                                    -
                                                    <span class="unit">개</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="access-data data-member-page">
                                                <div class="title">총 회원 수</div>
                                                <div class="value">
                                                            <span class="icon">
                                                            </span>
                                                    -
                                                    <span class="unit">명</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 선호 여행지 -->
                                 <!-- 대륙별로 퍼센트 -->
                                <div id="piechart" style="width: 900px; height: 500px;"></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
<script src="/js/admin/main/module/service.js"></script>
<script src="/js/admin/main/module/layout.js"></script>
<script src="/js/admin/main/event.js"></script>

</html>