<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/admin/font.css">
    <link rel="stylesheet" href="/static/css/admin/payment.css">
    <link rel="stylesheet" href="/static/css/admin/sidebar.css">
    <link rel="shortcut icon" href="../../../static/images/crew-station-favicon.png" type="image/x-icon">

</head>
<body>
    <div id="bootpay">
        <div id="boot-notify-container"></div>
        <div class="popup-manager" style="width: 0px;"></div>
        <aside id="bootpay-side">
            <div class="d-flex flex-column" id="side-wrapper">
                <div class="side-header">
                    <div class="app-wrapper">
                        <div class="provider-name hover-spin">
                            <span class="comp-provider-name">
                                <span class="pn-name">CrewStation</span>
                            </span>
                        </div>
                        <a class="app-name d-flex justify-content-between align-items-center">
                            <span>CrewStation</span>
                            <i class="mdi mdi-apps">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="menu-wrapper flex-grow-1">
                    <ul class="menu-list">
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 " data-toggle="collapse" >
                                <span class="menu-name">HOME</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column open">
                            <a class="menu-btn d-flex w-100" data-toggle="collapse" >
                                <span class="menu-name">회원관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column open">
                            <a class="menu-btn d-flex w-100" data-toggle="collapse" >
                                <span class="menu-name">크루관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <!-- 클릭 이벤트 -->
                            <!-- 회원 목록 클릭 시 collipse 열고 닫기 이벤트 -->
                            <a class="menu-btn d-flex w-100 " data-toggle="collapse" >
                                <span class="menu-name">신고</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                </div>
                            </a>
                            <ul class="menu-sub-list collapse" >
                                <li class="submenu menu-item ">
                                    <a class="boot-link " data-param="0">
                                        
                                        다이어리
                                    </a>
                                </li>
                                <li class="submenu menu-item ">
                                    <a class="boot-link" data-param="0">
                                        
                                        기프트
                                    </a>
                                </li>
                                <li class="submenu menu-item ">
                                    <a class="boot-link " data-param="0">
                                        
                                        크루
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="boot-link menu-btn active">
                                <span class="menu-name ">결제관리</span>
                            </a>
                            <ul class="menu-sub-list collapse " id="menu-60934308367997007c4c3d2c"></ul>
                        </li>
                        
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100"data-toggle="collapse">
                                <span class="menu-name">문의</span>
                                <div class="icon-wrapper flex-grow-1 text-right"></div>
                            </a>  
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100 "data-toggle="collapse">
                                <span class="menu-name">배너관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right"></div>
                            </a>  
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="bootpay-main" class="has-menu">
            <div id="header-wrapper">
                <div id="bootpay-header" class="d-flex trial-mode">
                    <div class="flex-grow-1"></div>
                    <div>
                        <div class="header-menu-group d-flex">
                            <a class="boot-link mr-3" href="">
                                <div class="header-menu-btn " data-for="8598bfd3-1b35-4de3-a48f-9d6654dc0268" data-toggle="tooltip" data-custom-class title="공지사항">
                                    <i class="mdi mdi-bullhorn-variant-outline">
    
                                    </i>
    
                                </div>
                            </a>
                            <div class="user-menu">
                                <!-- 주석 아래에 show 유무로 메뉴가보임 -->
                                <div id="usermenubtn"class="user-menu-wrapper d-flex align-items-center cursor-pointer" data-toggle="dropdown">
                                    <div class="user-avatar">T</div>
                                    <div class="user-menu-email">test@gamil.com</div>
                                </div>
                                <div id="usermenu" class="user-menu-content dropdown-menu dropdown-menu-right">
                                    <ul class="menu-body list-unstyled">
                                        <li>
                                            <a class="boot-link d-block text-dark"href="">
                                                <i class="mdi mdi-bell-outline mr-2 mdi-18px"></i>
                                                회원가입
                                                
                                            </a>
                                        </li>
                                        <li>
                                            <a class="d-block text-dark"href="">
                                                <i class="mdi mdi-logout-variant mr-2 mdi-18px"></i>
                                                로그아웃
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
            <div class="page wide-page receipt-index">
                <div class="page-header">
                    <div class="page-title">결제내역조회</div>
                    <div class="page-subtitle">조건을 설정하여 조회할 수 있습니다</div>
                </div>
                <div class="page-body">
                    <div class="amount-section">
                        <div class="amount-box revenue-box">
                            <div class="row">
                                <div class="col-auto title-col">
                                    <span class="badge-label text-primary icon-label mr-3">
                                        <i class="mdi mdi-check">

                                        </i>
                                    </span>
                                    <span class="badge-label">결제승인</span>
                                </div>
                                <div class="col text-right amount-col">
                                    <span class="span-amount">0</span>
                                    <span class="amount-unit">원</span>
                                </div>
                            </div>
                        </div>
                        <div class="amount-box cancel-box">
                            <div class="row">
                                <div class="col-auto title-col">
                                    <span class="badge-label text-danger icon-label mr-3">
                                        <i class="mdi mdi-close">
                                        </i>
                                    </span>
                                    <span class="badge-label">결제취소</span>
                                </div>
                                    <div class="col text-right amount-col">
                                        <span class="span-amount">0</span>
                                        <span class="amount-unit">원</span>
                                    </div>
                            </div>
                            <div class="extra-info collapse" id="extra-sum-collapse">
                                <div class="amount-box extra-box">
                                    <div class="sub cancel">
                                        <table class="sub-table">
                                            <tbody>
                                                <tr>
                                                    <td class="td-icon">
                                                        <span class="badge-label text-danger icon-label">
                                                            <i class="mdi mdi-close"></i>
                                                        </span>
                                                    </td>
                                                    <td class="td-title">
                                                        <span class="badge-label">매입 전 취소 (전체취소)</span>
                                                    </td>
                                                    <td class="td-operator">=</td>
                                                    <td class="td-amount">
                                                        <span class="span-amount">0</span>
                                                    </td>
                                                    <td class="td-unit">
                                                        <span class="amount-unit calc calc-plus">원</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-icon">
                                                        <span class="badge-label text-warning icon-label">
                                                            <i class="mdi mdi-bank-outline"></i>
                                                        </span>
                                                    </td>
                                                    <td class="td-title">
                                                        <span class="badge-label">취소 과세금액</span>
                                                    </td>
                                                    <td class="td-operator">=</td>
                                                    <td class="td-amount">
                                                        <span class="span-amount">0</span>
                                                    </td>
                                                    <td class="td-unit">
                                                        <span class="amount-unit">원</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-icon">
                                                        <span class="badge-label text-warning icon-label">
                                                            <i class="mdi mdi-bank-outline"></i>
                                                        </span>
                                                    </td>
                                                    <td class="td-title">
                                                        <span class="badge-label">취소 비과세금액</span>
                                                    </td>
                                                    <td class="td-operator">+</td>
                                                    <td class="td-amount">
                                                        <span class="span-amount">0</span>
                                                    </td>
                                                    <td class="td-unit">
                                                        <span class="amount-unit">원</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="table-layout white-panel">
                            <div class="filter-section">
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="receipt-count">총
                                            <span class="count-amount">0</span>건
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="filter-wrapper filter-status" id="filter-status">
                                            <div class="boot-pop-checkbox">
                                                <button class="boot-pop-checkbox-filter-btn btn btn-primary " id="btn-filter-status">
                                                    결제상태선택
                                                    <i class="mdi mdi-menu-down">
                                                        
                                                    </i>
                                                </button>
                                                <div class="bt-pop-menu">
                                                    <!-- 결제상태선택 창 클릭 이벤트 -->
                                                    <div class="bt-pop-menu-back show"></div>
                                                    <div class="bt-pop-menu-context" style="top: 0px; bottom: unset; left: -59.793px; right: unset; transform: scale(0.9, 0.9) translate3d(0px, 0px, 0px);">
                                                        <ul class="list-wrapper list-unstyled">
                                                            <li class="text-center font-weight-bold">결제상태선택</li>
                                                            <li class="list-item row mb-2">
                                                                
                                                                <div id="status-btn" class="col col-6">
                                                                    <button id="btn-select-all" class="btn btn-outline-default btn-sm">
                                                                        <label>
                                                                        <i class="mdi mdi-checkbox-multiple-marked mr-1">
                                    
                                                                        </i>
                                                                        전체선택
                                                                        </label>
                                                                    </button>
                                                                </div>
                                                                <div id="status-btn" class="col col-6">
                                                                    <button id="btn-deselect-all" class="btn btn-outline-default btn-sm">
                                                                        <i class="mdi mdi-checkbox-multiple-marked-outline mr-1">
                                                                        </i>
                                                                        선택취소
                                                                    </button>
                                                                </div>
                                                            </li>
                                                            <li class="list-item first">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="boot-check d-flex align-items-center undefined all-check-btn">
                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                <label>
                                                                                <i class="mdi mdi-check btn-status" data-target="pay-progress"">
                                                                                </i>
                                                                                </label>
                                                                            </div>
                                                                            <div class="boot-check-content flex-grow-1">결제진행중</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <a class="collapsed" data-toggle="collapse" aria-expanded="false">
                                                                            <!-- + 아이콘 클릭 이벤트 -->
                                                                            <i class="mdi mdi-plus">
                                                                            </i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <!-- 상세 전체 선택 -->
                                                                <div class="collapse" id="collapse_payloading">
                                                                    <ul class="sub-list-wrapper list-unstyled first">
                                                                        <li class="list-item ">
                                                                            <div class="boot-check d-flex align-items-center undefined">
                                                                                <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                    <label>
                                                                                    <i class="mdi mdi-check"></i>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="boot-check-content flex-grow-1">결제대기</div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-item ">
                                                                            <div class="boot-check d-flex align-items-center undefined">
                                                                                <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                    <label>
                                                                                    <i class="mdi mdi-check"></i>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="boot-check-content flex-grow-1">입금/승인대기</div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-item ">
                                                                            <div class="boot-check d-flex align-items-center undefined">
                                                                                <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                    <label>
                                                                                    <i class="mdi mdi-check"></i>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="boot-check-content flex-grow-1">결제승인중</div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-item ">
                                                                            <div class="boot-check d-flex align-items-center undefined">
                                                                                <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                    <label>
                                                                                    <i class="mdi mdi-check" ></i>
                                                                                    </label>                                                                   
                                                                                 </div>
                                                                                <div class="boot-check-content flex-grow-1">결제완료</div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="list-item ">
                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                        <i class="mdi mdi-check" style="display: none;"></i>
                                                                    </div>
                                                                    <div class="boot-check-content flex-grow-1">결제완료</div>
                                                                </div>
                                                            </li>
                                                            <li class="list-item">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="boot-check d-flex align-items-center undefined all-check-btn">
                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                <label>
                                                                                <i class="mdi mdi-check btn-status" data-target="pay-fail""></i>
                                                                                </label>
                                                                            </div>
                                                                            <div class="boot-check-content flex-grow-1">결제실패</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <a class data-toggle="collapse" aria-expanded="false">
                                                                            <label>
                                                                            <i class="mdi mdi-plus">
                                    
                                                                            </i>
                                                                            </label>
                                                                        </a>
                                                                    </div>
                                                                    <div class="collapse" id="collapse_payFail">
                                                                        <ul class="sub-list-wrapper list-unstyled second">
                                                                            <li class="list-item ">
                                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                        <i class="mdi mdi-check"></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">결제요청실패</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="list-item ">
                                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                        <i class="mdi mdi-check""></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">결제실패</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="list-item ">
                                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                        <i class="mdi mdi-check""></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">결제승인실패</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="list-item ">
                                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                        <i class="mdi mdi-check" ></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">결제승인치명적인오류</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="list-item ">
                                                                                <div class="boot-check d-flex align-items-center undefined">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                        <i class="mdi mdi-check""></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">현금영수증발행실패</div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <li class="list-item ">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="boot-check d-flex align-items-center undefined all-check-btn">
                                                                                    <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                        <label>
                                                                                            <i class="mdi mdi-check btn-status" data-target="pay-cancel" style="display: none;"></i>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="boot-check-content flex-grow-1">결제취소</div>
                                                                                    <div class="col-auto">
                                                                                        <a class data-toggle="collapse" aria-expanded="false">
                                                                                            <i class="mdi mdi-plus">
                                                                                            </i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            </div>
                                                                            <div class="collapse" id="collapse_cancel">
                                                                                <ul class="sub-list-wrapper list-unstyled third">
                                                                                    <li class="list-item ">
                                                                                        <div class="boot-check d-flex align-items-center undefined">
                                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                            <label>
                                                                                                <i class="mdi mdi-check optionCheck"></i>
                                                                                            </label>
                                                                                            </div>
                                                                                            <div class="boot-check-content flex-grow-1">결제취소완료</div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="list-item ">
                                                                                        <div class="boot-check d-flex align-items-center undefined">
                                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                                <label>
                                                                                                    <i class="mdi mdi-check optionCheck"></i>
                                                                                                </label>
                                                                                                </div>
                                                                                            <div class="boot-check-content flex-grow-1">결제취소실패</div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="list-item ">
                                                                                        <div class="boot-check d-flex align-items-center undefined">
                                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                                <label>
                                                                                                    <i class="mdi mdi-check optionCheck"></i>
                                                                                                </label>
                                                                                                </div>
                                                                                            <div class="boot-check-content flex-grow-1">결제취소진행중</div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="list-item ">
                                                                                        <div class="boot-check d-flex align-items-center undefined">
                                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                                <label>
                                                                                                    <i class="mdi mdi-check optionCheck"></i>
                                                                                                </label>
                                                                                                </div>
                                                                                            <div class="boot-check-content flex-grow-1">현금영수증발행취소</div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="list-item ">
                                                                                        <div class="boot-check d-flex align-items-center undefined">
                                                                                            <div class="boot-check-box " tabindex="0" style="width: 20px; height: 20px;">
                                                                                                <label>
                                                                                                    <i class="mdi mdi-check""></i>
                                                                                                </label>
                                                                                                </div>
                                                                                            <div class="boot-check-content flex-grow-1">현금영수증취소실패</div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <li class="list-item mt-2"></li>
                                                                        </div>    
                                                                    </li>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"></div>
                                    <div class="col-auto"></div>
                                    <div class="col-auto">
                                        <div class="filter-wrapper" data-for="6ce46b37-6203-4ed9-848b-59542bd80c9d" data-toggle="tooltip" data-custom-class title data-original-title="필터초기화">
                                        </div>
                                    </div>
                                    <div class="col text-right">
                                        <div class="filter-wrapper filter-list-mode mr-3">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="filter-wrapper filter-search ml-1">
                                            <div class="input-group">
                                                <input class="form-control flex-grow-1" type="text" placeholder="ID/주문번호/구매자정보/카드정보">
                                                <div class="input-group-append">
                                                    <button class="btn btn-search">
                                                        <span class="comp-icon icon-magnify" id="icons/ico-search.svg"><svg class="icon-img" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-color fill" d="m13.523 12.463 3.212 3.211-1.06 1.061-3.212-3.212A6.72 6.72 0 0 1 8.25 15 6.752 6.752 0 0 1 1.5 8.25 6.752 6.752 0 0 1 8.25 1.5 6.752 6.752 0 0 1 15 8.25a6.72 6.72 0 0 1-1.477 4.213zm-1.504-.557A5.233 5.233 0 0 0 13.5 8.25C13.5 5.349 11.15 3 8.25 3A5.248 5.248 0 0 0 3 8.25c0 2.9 2.349 5.25 5.25 5.25a5.233 5.233 0 0 0 3.656-1.481l.113-.113z" fill="#292929"></path></svg></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                    
                                    <div class="fill-table-layout">
                                        <table class="table grey-header-table w-100 receipt-table">
                                            <thead>
                                                <tr>
                                                    <th class="td-name">
                                                        상품명
                                                        
                                                    </th>
                                                    <th class="td-amount text-right pr-4">결제금액</th>
                                                    <th class="td-method">결제수단</th>
                                                    <th class="td-status">결제상태</th>
                                                    <th class="td-at">요청/승인/취소 시각</th>
                                                    <th class="td-buyer">구매자</th>
                                                    <th class="platform">상세</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <!-- 결과가 없을 때 화면 -->
                                                    <!-- <td class="text-center" colspan="9">조회된 결제가 없습니다.</td> -->
                                                    
                                                    <!-- 결제 내역이 있을 때 화면  -->
                                                    <td class="td-name">
                                                        <div class="good-name">
                                                            에펠탑 키링
                                                        </div>
                                                        
                                                    </td>
                                                    <td class="td-amount text-right pr-4 font-weight-bold">
                                                        1,000
                                                        <span class="amount-unit">
                                                              
                                                            원
                                                        </span>
                                                    </td>
                                                    <td class="td-method">
                                                        <div class="pq">카카오페이</div>
                                                        <div class="method">계좌이체</div>
                                                        <div class="api-version">
                                                            <span class="version-2">API v2</span>
                                                        </div>
                                                    </td>
                                                    <td class="td-status">
                                                        <div class="label-form">
                                                            <span class="badge-label text-nowrap text-dark">결제시간만료</span>
                                                        </div>
                                                    </td>
                                                    <td class="td-at text-center">
                                                        <div class="date-at text-dark">07/22 11:51</div>
                                                    </td>
                                                    
                                                    <td class="td-buyer text-center text-dark">
                                                        <div class="buyer-wrapper">
                                                            <div class="user-name">회원이름</div>
                                                            <div class="user-phone fs-1">01000000000</div>
                                                        </div>
                                                    </td>
                                                    <td class="td-action text-center">
                                                        <button type="button" class="action-btn"><i class="mdi mdi-chevron-right"></i></button>
                                                      </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                    <nav class="boot-pagination-wrapper mt-5 mb-4">
                                        <ul class="pagination boot-pagination"></ul>
                                        <div class="pagination-desc">
                                            <!-- 결제 내역 수 -->
                                            <div class="des text-ignore" data-id="1">
                                                <!-- 0
                                                results -->
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- 결제 상세 모달 -->
    <div class="modal fade member-modal" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        결재 상세정보
                    </div>
                    <button class="close">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divider">
                        <div class="tab-view">
                            <div class="tab-view-header"></div>
                            <div class="tab-view-body">
                                <div style="display: block;">
                                    <div class="tab-inner tab-detail">
                                        <!-- 결제 내역 -->
                                        <div class="info-layout detail-info">
                                            <div class="info-title justify-content-between">
                                                <div class="flex-left d-flex">
                                                    <div class="title">구매자 정보</div>
                                                </div>
                                                <div class="flex-left d-flex">
                                                    <div class="title">판매자 정보</div>
                                                </div>
                                                <div class="flex-right"></div>
                                            </div>
                                            <div class="d-table w-100">
                                                <!-- 테이블 왼쪽 -->
                                                <div class="d-table-cell">
                                                    <table class="info-table">
                                                        <tbody>
                                                            <tr>
                                                                <th>상품 이름</th>
                                                                <td>에펠탑 키링</td>
                                                            </tr>
                                                            <tr>
                                                                <th>상품 가격</th>
                                                                <td>1000원</td>
                                                            </tr>
                                                            <tr>
                                                                <th>구매자 이름</th>
                                                                <td>test</td>
                                                            </tr>
                                                            <tr>
                                                                <th>구매자 전화번호</th>
                                                                <td>010-0000-0000</td>
                                                            </tr>
                                                            <tr>
                                                                <th>구매자 이메일</th>
                                                                <td>text@naver.com</td>
                                                            </tr>
                                                            <tr>
                                                                <th>결제 진행 상태</th>
                                                                <td>결제시간만료</td>
                                                            </tr>
                                                            <tr>
                                                                <th>결제시간</th>
                                                                <td>07/22 11:51</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- 테이블 오른쪽 -->                                                        
                                                <div class="d-table-cell">
                                                    <table class="info-table">
                                                        <tbody>
                                                            <tr>
                                                                <th>판매자 이름</th>
                                                                <td>판매자</td>
                                                            </tr>
                                                            <tr>
                                                                <th>판매자 전화번호</th>
                                                                <td>010-2222-2222</td>
                                                            </tr>
                                                            <tr>
                                                                <th>판매자 이메일</th>
                                                                <td>test01@gmail.com</td>
                                                            </tr>
                                                            <tr>
                                                                <th>판매 등록시간</th>
                                                                <td>07/22 11:51</td>
                                                            </tr>
                                                            <tr>
                                                                <th>전달 방법</th>
                                                                <td>직거래</td>
                                                            </tr>
                                                            <tr>
                                                                <th>주소</th>
                                                                <td>서울시 강남구</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-close btn btn-outline-filter">닫기</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/admin/payment/event.js"></script>
</html>