<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.guest.GuestMapper">
    <insert id="insert">
        insert into tbl_guest(member_id, guest_phone, guest_order_number, address_zip_code, address_detail, address)
        values (#{memberId},#{guestPhone},#{guestOrderNumber},#{addressZipCode},#{addressDetail},#{address})
    </insert>
</mapper>