<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.guest.GuestMapper">
    <insert id="insert">
        insert into tbl_guest(member_id, guest_phone, guest_order_number, address_zip_code, address_detail, address)
        values (#{memberId},#{guestPhone},#{guestOrderNumber},#{addressZipCode},#{addressDetail},#{address})
    </insert>
    <select id="select">
        select id, member_id, guest_phone, guest_order_number, address_zip_code, address_detail, address
        from tbl_guest
        where guest_phone = #{guestPhone} and guest_order_number = #{guestOrderNumber}
    </select>

    <!-- 게스트 정보 단순 조회-->
    <select id="selectById">
        SELECT id, member_id AS memberId, guest_phone AS guestPhone,
               guest_order_number AS guestOrderNumber, address_zip_code AS addressZipCode,
               address_detail AS addressDetail, address
        FROM tbl_guest
        WHERE id = #{guestId}
    </select>

    <!-- 게스트 주문 상세 조회 -->
    <select id="selectOrderDetails">
        SELECT g.id                           AS guestId,
               g.guest_phone                  AS guestPhone,
               g.address_zip_code             AS guestZipCode,
               g.address                      AS guestAddress,
               g.address_detail               AS guestAddressDetail,
               g.guest_order_number           AS guestOrderNumber,

               ps.payment_phase               AS paymentStatus,

               ps.created_datetime AS createdDatetime,
               ps.updated_datetime AS updatedDatetime,

               p.id                           AS postId,
               p.post_title                   AS postTitle,

               pu.post_id AS purchaseId,
               pu.purchase_product_price      AS purchaseProductPrice,
               pu.purchase_country            AS purchaseCountry,
               pu.purchase_delivery_method    AS purchaseDeliveryMethod,

               seller.id                      AS sellerId,
               seller.member_name             AS sellerName,
               seller.member_phone            AS sellerPhone,
               guest.id                       AS buyerMemberId,
               guest.member_name              AS guestName,

               f.file_path || '/' || f.file_name AS mainImage
        FROM tbl_guest g
                 JOIN tbl_payment_status ps       ON ps.member_id = g.member_id
                 JOIN tbl_purchase pu             ON ps.purchase_id = pu.post_id
                 JOIN tbl_post p                  ON pu.post_id = p.id
                 JOIN tbl_member seller           ON p.member_id = seller.id
                 JOIN tbl_member guest            ON g.member_id = guest.id
                 LEFT JOIN tbl_post_section s     ON
                     p.id = s.post_id
                 LEFT JOIN tbl_post_section_file sf ON s.id = sf.post_section_id AND sf.image_type = 'main'
                 LEFT JOIN tbl_file f             ON sf.file_id = f.id
        WHERE g.guest_order_number = #{guestOrderNumber}
    </select>

    <select id="selectGuestByOrderName">
        select id, member_id, guest_phone, guest_order_number, address_zip_code, address_detail, address
        from tbl_guest
        where guest_order_number = #{guestOrderNumber}
    </select>

</mapper>