<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.payment.status.PaymentStatusMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_payment_status (purchase_id,member_id)
        values (#{purchaseId},#{memberId});
    </insert>

    <select id="selectByPurchaseId">
        select id,
               purchase_id,
               member_id,
               payment_phase,
               created_datetime,
               updated_datetime
        from tbl_payment_status
        where purchase_id = #{purchaseId}
    </select>

    <!-- 결제 상태 업데이트-->
    <update id="updatePaymentStatus">
        UPDATE tbl_payment_status
        SET payment_phase = #{paymentPhase},
            updated_datetime = now()
        WHERE purchase_id = #{purchaseId}
    </update>

    <select id="countPayment">
        select count(*)
        from tbl_payment_status

    </select>

    <select id="selectPayment">
        select
            id,
            payment_phase,
            purchase_id,
            created_datetime,
            updated_datetime,
            member_id

        from tbl_payment_status
        limit #{rowCount} offset #{offset}

    </select>

</mapper>