<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/mypage/my-sale-detail.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item"><a href="">나의 프로필</a></li>
                    <li class="page-navigation__item"><a href="/mypage/diary-list">나의 다이어리</a></li>
                    <li class="page-navigation__item"><a href="/mypage/findMyCrew">나의 크루 구하기</a></li>
                    <li class="page-navigation__item"><a href="/mypage/crew-list">나의 크루 목록</a></li>
                    <li class="page-navigation__item"><a href="/mypage/my-activities">나의 활동</a></li>
                    <li class="page-navigation__item"><a href="/mypage/purchase-list">나의 구매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/sale-list"  class="active">나의 판매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/inquiries">나의 문의</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="main-wrapper">
                <div class="main-wrap">
                    <h1 class="main-title">주문상세</h1>
                    <div class="product">
                        <section class="header-wrapper">
                            <h1 class="header-title">
                                <span class="date">2/22 (수)</span>
                                <!-- 상태쓰기 -->
                                <span>결제완료</span>
                            </h1>
                        </section>
                        
                        <div class="product-wrapper">
                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                        </div>
                        <hr class="bar">
                        <h2 class="address-wrap">주문 정보</h2>
                        <div class="address">
                            <span class="address-span">제품</span>
                            파리에서 사온 키링~
                        </div>
                        <div class="address">
                            <span class="address-span">가격</span>
                            10000원
                        </div>
                        <div class="address">
                            <span class="address-span">개수</span>
                            1개
                        </div>
                        <hr class="bar">
                        <!-- 택배일 경우 -->
                        <h2 class="address-wrap">배송지정보</h2>
                        <div class="address">
                            <span class="address-span">주소</span>
                            서울시 강남구 무슨무슨로 101동 102호
                        </div>
                        <div class="address">
                            <span class="address-span">받은 사람</span>
                            김크루
                        </div>
                        <div class="address">
                            <span class="address-span">전화번호</span>
                            010-1234-1234
                        </div>
                        <!-- 직거래 일때 -->
                        <h2 class="address-wrap">구매자정보</h2>
                        <div class="address">
                            <span class="address-span">받은 사람</span>
                            김크루
                        </div>
                        <div class="address">
                            <span class="address-span">전화번호</span>
                            010-1234-1234
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="~{fixed/web/footer :: footer}"></footer>
</body>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/static/js/mypage/my-sale-detail/event.js"></script>
</html>