<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/mypage/sale.css">
</head>
<body>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item"><a href="">나의 프로필</a></li>
                    <li class="page-navigation__item"><a href="/mypage/diaries">나의 다이어리</a></li>
                    <li class="page-navigation__item"><a href="/mypage/findMyCrew">나의 크루 구하기</a></li>
                    <li class="page-navigation__item"><a href="/mypage/crew-list">나의 크루 목록</a></li>
                    <li class="page-navigation__item"><a href="/mypage/my-activities">나의 활동</a></li>
                    <li class="page-navigation__item"><a href="/mypage/purchase-list">나의 구매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/sale-list"  class="active">나의 판매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/inquiries">나의 문의</a></li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="order-list__menu">
                 <div class="order-list__menu__title">내가 받은 주문  
                    <span class="order-list__menu__title__desc">(최근 6개월)</span>
                 </div>
                 <div class="order-list__menu__list__wrapper">
                    <a class="order-list__menu__list" href="">
                        <div class="order-list__menu__list__wrap">
                            <div class="order-list__menu__list__title">승락대기</div>
                            <div class="order-list__menu__list__value request-number">0</div>
                        </div>
                    </a>
                    <a class="order-list__menu__list" href="">
                        <div class="order-list__menu__list__wrap">
                            <div class="order-list__menu__list__title">결제대기</div>
                            <div class="order-list__menu__list__value watting-number">0</div>
                        </div>
                    </a>
                    <a class="order-list__menu__list" href="">
                        <div class="order-list__menu__list__wrap">
                            <div class="order-list__menu__list__title">결제완료</div>
                            <div class="order-list__menu__list__value payment-ok">0</div>
                        </div>
                    </a>
                    <a class="order-list__menu__list" href="">
                        <div class="order-list__menu__list__wrap">
                            <div class="order-list__menu__list__title">전달완료</div>
                            <div class="order-list__menu__list__value receive-number">0</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="search">
                <div class="search-bar">
                    <div class="search-bar-wraper">
                        <div class="search-bar-wrap">
                            <div class="input-wrapper css-d28bps eagkmyb3">
                                <input size="32" placeholder="검색" class="search-input" value="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="foreground" viewBox="0 0 24 24" class="input-icon" data-testid="input-icon" style="vertical-align: middle; margin: auto 6px auto auto; cursor: pointer;">
                                    <path fill-rule="evenodd" d="M15.129 16.402a7.5 7.5 0 1 1 1.273-1.273l5.235 5.235a.9.9 0 1 1-1.273 1.272zM16.2 10.5a5.7 5.7 0 1 1-11.4 0 5.7 5.7 0 0 1 11.4 0" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drop-down">
                    <div class="drop-down-wrapper">
                        <div class="drop-down-wrap">
                            <button type="button" class="drop-down-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" viewBox="0 0 24 24" class="drop-down-icon">
                                    <path d="M17 10H7l5 5z"></path>
                                </svg>
                                <p class="drop-down-text">전체(최대 5년)</p>
                            </button>
                            <div class="drop-down-list">
                                <div class="drop-down-list-wrapper">
                                    <div class="list-content">전체(최대 5년)</div>
                                    <div class="list-content">1개월</div>
                                    <div class="list-content">3개월</div>
                                    <div class="list-content">6개월</div>
                                    <div class="list-content">1년</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drop-down-wrapper">
                        <div class="drop-down-wrap">
                            <button type="button" class="drop-down-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" viewBox="0 0 24 24" class="drop-down-icon">
                                    <path d="M17 10H7l5 5z"></path>
                                </svg>
                                <p class="drop-down-text">주문 전체</p>
                            </button>
                            <div class="drop-down-list">
                                <div class="drop-down-list-wrapper">
                                    <div class="list-content">주문 전체</div>
                                    <div class="list-content">승락대기</div>
                                    <div class="list-content">주문취소</div>
                                    <div class="list-content">결제대기</div>
                                    <div class="list-content">결제완료</div>
                                    <div class="list-content">전달완료</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="purchase-list">
                    <!-- 전달완료 -->
                    <div class="purchase-list-wrapper">
                        <div class="purchase-list-title">
                            <div class="title-text">
                                <span class="title-span">2025.09.16</span>
                                <hr class="bar">
                                <span class="title--span">주문 1건</span>
                            </div>
                            <span class="detail">
                                주문상세
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" fill="currentColor" viewBox="0 0 12 12">
                                    <path fill-rule="evenodd" d="M3.551 1.151a.6.6 0 0 0 .05.847l4.496 3.996L3.6 9.99a.6.6 0 0 0 .798.897l4.58-4.07a1.1 1.1 0 0 0 0-1.645l-4.58-4.07a.6.6 0 0 0-.848.05" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <ul class="order">
                                <li>
                                    <div class="order-card">
                                        <div class="order-title">
                                            <div class="order-title-inner">
                                                <p>
                                                    <b class="title-status">전달완료</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="order-content">
                                            <div class="product">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <div class="product-image">
                                                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <p class="product-info-title">파리 마그넷</p>
                                                        <p class="product-info-content">길에서 파는 마그넷 팔아요!</p>
                                                        <p class="product-info-price">
                                                            <span>10,000원</span>
                                                            <span> · 1개</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 결제완료 -->
                    <div class="purchase-list-wrapper">
                        <div class="purchase-list-title">
                            <div class="title-text">
                                <span class="title-span">2025.09.16</span>
                                <hr class="bar">
                                <span class="title--span">주문 1건</span>
                            </div>
                            <span class="detail">
                                주문상세
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" fill="currentColor" viewBox="0 0 12 12">
                                    <path fill-rule="evenodd" d="M3.551 1.151a.6.6 0 0 0 .05.847l4.496 3.996L3.6 9.99a.6.6 0 0 0 .798.897l4.58-4.07a1.1 1.1 0 0 0 0-1.645l-4.58-4.07a.6.6 0 0 0-.848.05" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <ul class="order">
                                <li>
                                    <div class="order-card">
                                        <div class="order-title">
                                            <div class="order-title-inner">
                                                <p>
                                                    <b class="title-status">결제완료</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="order-content">
                                            <div class="product">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <div class="product-image">
                                                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <p class="product-info-title">파리 마그넷</p>
                                                        <p class="product-info-content">길에서 파는 마그넷 팔아요!</p>
                                                        <p class="product-info-price">
                                                            <span>10,000원</span>
                                                            <span> · 1개</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="button-wrap">
                                                <div class="button-inner">
                                                    <div class="button-1">
                                                        <div class="button-wrapper">
                                                            <button class="button1">
                                                                <span class="button-span">주문 취소</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="button-2">
                                                        <div class="button-wrapper">
                                                            <button class="button2">
                                                                <span class="button-span">별점 주기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 승락대기 -->
                    <div class="purchase-list-wrapper">
                        <div class="purchase-list-title">
                            <div class="title-text">
                                <span class="title-span">2025.09.16</span>
                                <hr class="bar">
                                <span class="title--span">주문 1건</span>
                            </div>
                        </div>
                        <div>
                            <ul class="order">
                                <li>
                                    <div class="order-card">
                                        <div class="order-title">
                                            <div class="order-title-inner">
                                                <p>
                                                    <b class="title-status">승락대기</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="order-content">
                                            <div class="product">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <div class="product-image">
                                                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <p class="product-info-title">파리 마그넷</p>
                                                        <p class="product-info-content">길에서 파는 마그넷 팔아요!</p>
                                                        <p class="product-info-price">
                                                            <span>10,000원</span>
                                                            <span> · 1개</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-wrap">
                                                <div class="button-inner">
                                                    <div class="button-1">
                                                        <div class="button-wrapper">
                                                            <button class="button1 purchase-cancel">
                                                                <span class="button-span">거절하기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="button-1">
                                                        <div class="button-wrapper">
                                                            <button class="button2 accept">
                                                                <span class="button-span">승락하기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 주문취소 -->
                    <div class="purchase-list-wrapper">
                        <div class="purchase-list-title">
                            <div class="title-text">
                                <span class="title-span">2025.09.16</span>
                                <hr class="bar">
                                <span class="title--span">주문 1건</span>
                            </div>
                        </div>
                        <div>
                            <!-- 취소한 ul만 cancel 붙이기, cancel-overlay div 추가하기 -->
                            <ul class="order cancel">
                                <div class="cancel-overlay"></div>
                                <li>
                                    <div class="order-card">
                                        <div class="order-title">
                                            <div class="order-title-inner">
                                                <p>
                                                    <b class="title-status">주문취소</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="order-content">
                                            <div class="product">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <div class="product-image">
                                                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <p class="product-info-title">파리 마그넷</p>
                                                        <p class="product-info-content">길에서 파는 마그넷 팔아요!</p>
                                                        <p class="product-info-price">
                                                            <span>10,000원</span>
                                                            <span> · 1개</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 결제대기 -->
                    <div class="purchase-list-wrapper">
                        <div class="purchase-list-title">
                            <div class="title-text">
                                <span class="title-span">2025.09.16</span>
                                <hr class="bar">
                                <span class="title--span">주문 1건</span>
                            </div>
                        </div>
                        <div>
                            <ul class="order">
                                <li>
                                    <div class="order-card">
                                        <div class="order-title">
                                            <div class="order-title-inner">
                                                <p>
                                                    <b class="title-status">결제대기</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="order-content">
                                            <div class="product">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <div class="product-image">
                                                            <img src="/static/images/gift-shop-post-img2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <p class="product-info-title">파리 마그넷</p>
                                                        <p class="product-info-content">길에서 파는 마그넷 팔아요!</p>
                                                        <p class="product-info-price">
                                                            <span>10,000원</span>
                                                            <span> · 1개</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="modal-wrapper">
                    <div class="modal-wrap">
                        <div class="modal-header">
                            <span class="header">별점 남기기</span>
                            <button type="button" class="close-button">
                                <span class="close"></span>
                            </button>
                        </div>
                        <div class="modal-content">
                            <div class="modal-content-wrap">
                                <form action="">
                                    <div class="product-info">
                                        <img class="info-img" src="/static/images/gift-shop-post-img2.png" alt="">
                                        <div class="product-info-name">
                                            <span class="name-span">파리에서 사온 키링~</span>
                                        </div>
                                    </div>
                                    <div class="product-star">
                                        <div class="star-title">
                                            <span class="star-title-text"></span>
                                        </div> 
                                        <div class="star-content">
                                            <label for="star" class="star" data-point="1">
                                                <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                    <defs>
                                                        <clipPath id="halfStarClip">
                                                            <rect x="0" y="0" width="18" height="36"></rect>
                                                        </clipPath>
                                                        <clipPath id="quarterStarClip">
                                                            <rect x="0" y="0" width="9" height="36"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                </svg>
                                            </label>
                                            <label for="" class="star" data-point="2">
                                                <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                    <defs>
                                                        <clipPath id="halfStarClip">
                                                            <rect x="0" y="0" width="18" height="36"></rect>
                                                        </clipPath>
                                                        <clipPath id="quarterStarClip">
                                                            <rect x="0" y="0" width="9" height="36"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                </svg>
                                            </label>
                                            <label for="" class="star" data-point="3">
                                                <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                    <defs>
                                                        <clipPath id="halfStarClip">
                                                            <rect x="0" y="0" width="18" height="36"></rect>
                                                        </clipPath>
                                                        <clipPath id="quarterStarClip">
                                                            <rect x="0" y="0" width="9" height="36"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                </svg>
                                            </label>
                                            <label for="" class="star" data-point="4">
                                                <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                    <defs>
                                                        <clipPath id="halfStarClip">
                                                            <rect x="0" y="0" width="18" height="36"></rect>
                                                        </clipPath>
                                                        <clipPath id="quarterStarClip">
                                                            <rect x="0" y="0" width="9" height="36"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                </svg>
                                            </label>
                                            <label for="" class="star"  data-point="5">
                                                <svg width="48"   height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                    <defs>
                                                        <clipPath id="halfStarClip">
                                                            <rect x="0" y="0" width="18" height="36"></rect>
                                                        </clipPath>
                                                        <clipPath id="quarterStarClip">
                                                            <rect x="0" y="0" width="9" height="36"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                </svg>
                                            </label>
                                        </div> 
                                    </div>
                                    <input type="hidden" name="" id="star" value="0">
                                    <button class="button-submit">별점 남기기</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/static/js/mypage/sale/event.js"></script>
</html>