<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.diary.DiaryMapper">
    <select id="selectDiaryList">
        select
            vpd.id as id,
            vpd.post_title as title,
            vpd.created_datetime as createdDatetime,
            vpd.updated_datetime as updatedDatetime,
            vpd.diary_like_count as diaryLikeCount,
            vpd.diary_reply_count as diaryReplyCount,

            m.member_name as memberName,
            m.member_description as memberDescription,

            vfmf.file_origin_name as fileOriginName,
            vfmf.file_name as fileName,
            vfmf.file_path as filePath,

            cd.crew_id as crewId,

            tc.crew_name as crewName,
            ps.post_content as postContent,
            ps.post_id as postId,
            vfpsf.file_id as fileId,
            vfpsf.post_section_id as postSectionId

        from view_post_diary vpd
                 join tbl_member m
                      on m.id = vpd.member_id
                 left join view_file_member_file vfmf
                           on vfmf.member_id = m.id
                 left join tbl_crew_diary cd
                           on cd.diary_id = vpd.id
                 left join tbl_crew tc
                           on tc.id = cd.crew_id
                 left join tbl_post_section ps
                           on ps.post_id = vpd.id
                 left join view_file_post_section_file vfpsf
                           on vfpsf.post_section_id = ps.id
        where vpd.diary_secret = 'public'
        order by vpd.created_datetime desc
        limit 4;
    </select>

    <!-- 내가 좋아요 한 일기 -->
    <select id="findDiariesLikedByMemberId" resultType="com.example.crewstation.dto.diary.LikedDiaryDTO">
        SELECT d.post_id AS postId,
               p.post_title,
               m.id            AS memberId,
               m.member_name   AS memberName,
               m.social_img_url AS memberProfileImage,

               f.file_path AS mainImage,

               (SELECT ps.post_content
                FROM tbl_post_section ps
                WHERE ps.post_id = p.id
                ORDER BY ps.id ASC
                LIMIT 1) AS content,

               d.diary_like_count,
               d.diary_reply_count,

               1 AS liked
        FROM tbl_like l
                 JOIN tbl_post p ON l.post_id = p.id
                 JOIN tbl_diary d ON d.post_id = p.id
                 JOIN tbl_member m ON p.member_id = m.id
                 LEFT JOIN (
            SELECT ps.post_id, COALESCE(main.file_id, sub.first_file_id) AS first_file_id
            FROM tbl_post_section ps
                     LEFT JOIN (
                SELECT psf.post_section_id, MIN(f.id) AS file_id
                FROM tbl_post_section_file psf
                         JOIN tbl_file f ON psf.file_id = f.id
                WHERE psf.image_type = 'main'
                GROUP BY psf.post_section_id
            ) main ON ps.id = main.post_section_id
                     LEFT JOIN (
                SELECT psf.post_section_id, MIN(f.id) AS first_file_id
                FROM tbl_post_section_file psf
                         JOIN tbl_file f ON psf.file_id = f.id
                WHERE psf.image_type = 'sub'
                GROUP BY psf.post_section_id
            ) sub ON ps.id = sub.post_section_id
        ) sec_file ON p.id = sec_file.post_id
                 LEFT JOIN tbl_file f ON sec_file.first_file_id = f.id
        WHERE l.member_id = #{memberId}
        ORDER BY l.id DESC
        LIMIT #{criteria.size} OFFSET #{criteria.offset}
    </select>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE FROM tbl_like
        WHERE member_id = #{memberId}
          AND post_id = #{diaryId}
    </delete>

    <!-- 내가 좋아요 한 일기 개수 -->
    <select id="countDiariesLikedByMemberId" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM tbl_like
        WHERE member_id = #{memberId}
    </select>


    <!-- 내가 댓글 단 일기 조회 -->
    <select id="selectReplyDiariesByMemberId" resultType="com.example.crewstation.dto.diary.ReplyDiaryDTO">
        SELECT
            p.id                   AS postId,
            p.post_title           AS postTitle,
            ps.post_content        AS content,
            f.file_path            AS mainImage,
            r.reply_content        AS replyContent,
            r.created_datetime     AS createdDatetime
        FROM tbl_reply r
                 JOIN tbl_diary d ON r.diary_id = d.post_id
                 JOIN tbl_post p  ON d.post_id = p.id
                 LEFT JOIN tbl_post_section ps
                           ON p.id = ps.post_id
                 LEFT JOIN tbl_post_section_file psf
                           ON ps.id = psf.post_section_id
                               AND psf.image_type = 'main'
                 LEFT JOIN tbl_file f
                           ON psf.file_id = f.id
        WHERE r.member_id = #{memberId}
        ORDER BY r.created_datetime DESC
        LIMIT #{criteria.size} OFFSET #{criteria.offset}
    </select>

    <select id="countReplyDiariesByMemberId" resultType="int">
        SELECT COUNT(*)
        FROM tbl_reply r
        WHERE r.member_id = #{memberId}
    </select>

</mapper>