<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.alarm.AlarmMapper">
    <insert id="insertPaymentAlarm">
        insert into tbl_payment_status_alarm  (payment_status_id)
        values (#{paymentStatusId})
    </insert>

    <insert id="insertLikeAlarm">
        insert into tbl_like_alarm (like_id)
        values (#{likeId})
    </insert>

    <delete id="deleteLikeAlarm">
        delete from tbl_like_alarm
        where like_id = #{likeId}
    </delete>
</mapper>