<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.alarm.AlarmMapper">
    <insert id="insertPaymentAlarm">
        insert into tbl_payment_status_alarm  (payment_status_id)
        values (#{paymentStatusId})
    </insert>

    <insert id="insertLikeAlarm">
        insert into tbl_like_alarm (like_id)
        values (#{likeId})
    </insert>

    <delete id="deleteLikeAlarm">
        delete from tbl_like_alarm
        where like_id = #{likeId}
    </delete>

    <insert id="insertReplyAlarm">
        insert into tbl_diary_alarm(diary_id)
        values (#{postId})
    </insert>

    <select id="selectUnreadCount">
        select
            (
                (select count(*)
                 from tbl_member_alarm ma
                 where ma.member_id = #{memberId}
                   and ma.alarm_status = 'unread')
                    +
                (select count(*)
                 from tbl_diary_alarm da
                          join tbl_diary d on d.post_id = da.diary_id
                          join tbl_post p on p.id = d.post_id
                 where p.member_id = #{memberId}
                   and da.alarm_status = 'unread')
                    +
                (select count(*)
                 from tbl_like_alarm la
                          join tbl_like l on l.id = la.like_id
                          join tbl_post p on p.id = l.post_id
                 where p.member_id = #{memberId}
                   and la.alarm_status = 'unread')
                ) as unread_count

    </select>
</mapper>