<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.post.file.tag.PostFileTagMapper">
    <insert id="insert">
        insert into tbl_post_file_tag(tag_left, tag_top, member_id, post_section_file_id)
        VALUES (#{tagLeft}, #{tagTop}, #{memberId}, #{postSectionFileId})
    </insert>

    <select id="selectByFileId">
        select id, tag_left, tag_top, member_id, post_section_file_id
        from tbl_post_file_tag
        where post_section_file_id = #{fileId}
    </select>
</mapper>