<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/guest/order-detail.css">
</head>
<body>
<div class="all">
    <div class="myhome-nav">
        <nav class="page-navigation">
            <ul>
                <li class="page-navigation__item">
                    <a href="">
                        나의 다이어리
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 크루 구하기
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 크루 목록
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 활동
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="" class="active">
                        나의 구매 내역
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 판매 내역
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 문의
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="main-wrapper">
            <div class="main-wrap">
                <div id="order-detail"></div>
                <div class="main-title"> 주문번호
                    <span class="title-section">I</span>
                    <span class="order-number"></span>
                </div>
                <section class="header">
                    <section class="header-wrapper">
                        <h1 class="header-title">
                            <span class="date"></span>
                            <!-- 상태쓰기 -->
                            <span></span>
                        </h1>
                    </section>
                    <div class="line fill">
                        <h3 class="status">수락 대기</h3>
                    </div>
                    <div class="line fill">
                        <h3 class="status">결제 대기</h3>
                    </div>
                    <div class="line">
                        <!-- 현재 있는곳 까지 -->
                        <span class="now">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" data-testid="arrow-down-icon">
                                    <path fill="#2F3438" fill-rule="evenodd" d="M1.201 3.182a.6.6 0 0 1 .847.05l3.996 4.495 3.997-4.496a.6.6 0 1 1 .896.798l-4.07 4.58a1.1 1.1 0 0 1-1.645 0l-4.07-4.58a.6.6 0 0 1 .05-.847" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        <h3 class="status">결제 완료</h3>
                    </div>
                    <div class="line">
                        <h3 class="status">수령 완료</h3>
                    </div>

                    <!-- 상태에 따라 업데이트 -->
                    <button class="status-btn cancel-btn active">주문 취소</button>


                    <button class="status-btn receive-btn">수령 완료</button>

                    <button class="status-btn review-btn">
                        <img class="manner-icon" src="/images/manner.png">
                        별점 주기</button>

                </section>
                <hr class="bar">
                <div class="product">
                    <section class="header-wrapper">
                        <h1 class="header-title">
                            <!-- 상태쓰기 -->
                            <span>결제 정보</span>
                        </h1>
                    </section>
                    <div class="product-wrapper">
                        <img src="" alt="">
                        <div class="purchase-info">
                                <span class="badge-list-container">
                                    </span>
                            <p class="info-title"></p>
                            <span class="badge-list-container amount">
                                    수량 </span>
                            <span class="info-amount">1개</span>
                            <p class="info-price"></p>
                        </div>
                    </div>

                    <!-- 직거래 일 때 -->
                    <div class="info-container">
                        <h2 class="address-wrap">판매자 정보</h2>
                        <div class="seller-info-category">
                            <span class="seller-info">배송방법</span>

                        </div>
                        <div class="seller-info-category">
                            <span class="seller-info">판매자명</span>

                        </div>
                        <div class="seller-info-category">
                            <span class="seller-info">전화번호</span>

                        </div>
                    </div>

                    <hr class="divider">

                    <div class="info-container">
                        <h2 class="address-wrap">구매자 정보</h2>
                        <div class="buyer-info-category">
                            <span class="buyer-info">주소</span>
                        </div>
                        <div class="buyer-info-category">
                            <span class="buyer-info">전화번호</span>
                        </div>
                    </div>

                    <div class="modal-wrapper">
                        <div class="modal-wrap">
                            <div class="modal-header">
                                <span class="header">별점 남기기</span>
                                <button type="button" class="close-button">
                                    <span class="close"></span>
                                </button>
                            </div>
                            <div class="modal-content">
                                <div class="modal-content-wrap">
                                    <form action="">
                                        <div class="product-star">
                                            <div class="star-title">
                                                <span class="star-title-text"></span>
                                            </div>
                                            <div class="star-content">
                                                <label for="star" class="star" data-point="1">
                                                    <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                        <defs>
                                                            <clipPath id="halfStarClip">
                                                                <rect x="0" y="0" width="18" height="36"></rect>
                                                            </clipPath>
                                                            <clipPath id="quarterStarClip">
                                                                <rect x="0" y="0" width="9" height="36"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                        <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    </svg>
                                                </label>
                                                <label for="" class="star" data-point="2">
                                                    <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                        <defs>
                                                            <clipPath id="halfStarClip">
                                                                <rect x="0" y="0" width="18" height="36"></rect>
                                                            </clipPath>
                                                            <clipPath id="quarterStarClip">
                                                                <rect x="0" y="0" width="9" height="36"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                        <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    </svg>
                                                </label>
                                                <label for="" class="star" data-point="3">
                                                    <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                        <defs>
                                                            <clipPath id="halfStarClip">
                                                                <rect x="0" y="0" width="18" height="36"></rect>
                                                            </clipPath>
                                                            <clipPath id="quarterStarClip">
                                                                <rect x="0" y="0" width="9" height="36"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                        <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    </svg>
                                                </label>
                                                <label for="" class="star" data-point="4">
                                                    <svg width="48" height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                        <defs>
                                                            <clipPath id="halfStarClip">
                                                                <rect x="0" y="0" width="18" height="36"></rect>
                                                            </clipPath>
                                                            <clipPath id="quarterStarClip">
                                                                <rect x="0" y="0" width="9" height="36"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                        <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    </svg>
                                                </label>
                                                <label for="" class="star"  data-point="5">
                                                    <svg width="48"   height="48" class="star" fill="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                                        <defs>
                                                            <clipPath id="halfStarClip">
                                                                <rect x="0" y="0" width="18" height="36"></rect>
                                                            </clipPath>
                                                            <clipPath id="quarterStarClip">
                                                                <rect x="0" y="0" width="9" height="36"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <path fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                        <path class="star-fill" fill-rule="evenodd" d="M18 30.7l-9 3.8c-1.5.7-2.6-.2-2.5-1.8l.8-9.7L1 15.6c-1-1.3-.6-2.6 1-3l9.5-2.2 5-8.3c1-1.5 2.3-1.5 3.1 0l5 8.3 9.6 2.2c1.6.4 2 1.7 1 3L28.7 23l.8 9.7c.1 1.6-1 2.5-2.5 1.8l-9-3.8z"></path>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" name="" id="star" value="0">
                                        <button class="button-submit">별점 주기</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/guest/order-detail/module/service.js"></script>
<script src="/js/guest/order-detail/module/layout.js.js"></script>
<script src="/js/guest/order-detail/event.js"></script>
</html>