<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/guest/order-detail.css">
</head>
<body>
<div class="all">
    <div class="myhome-nav">
        <nav class="page-navigation">
            <ul>
                <li class="page-navigation__item">
                    <a href="">
                        나의 다이어리
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 크루 구하기
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 크루 목록
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 활동
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="" class="active">
                        나의 구매 내역
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 판매 내역
                    </a>
                </li>
                <li class="page-navigation__item">
                    <a href="">
                        나의 문의
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="main-wrapper">
            <div class="main-wrap">
                <div class="main-title">
                    주문번호
                    <span class="title-section">I</span>
                    <span class="order-number"> 2025092820400653926</span>
                </div>
                <section class="header">
                    <section class="header-wrapper">
                        <h1 class="header-title">
                            <span class="date">2/22 (수)</span>
                            <!-- 상태쓰기 -->
                            <span>결제완료</span>
                        </h1>
                    </section>
                    <div class="line fill">
                        <h3 class="status">수락 대기</h3>
                    </div>
                    <div class="line fill">
                        <h3 class="status">결제 대기</h3>
                    </div>
                    <div class="line">
                        <!-- 현재 있는곳 까지 -->
                        <span class="now">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" data-testid="arrow-down-icon">
                                    <path fill="#2F3438" fill-rule="evenodd" d="M1.201 3.182a.6.6 0 0 1 .847.05l3.996 4.495 3.997-4.496a.6.6 0 1 1 .896.798l-4.07 4.58a1.1 1.1 0 0 1-1.645 0l-4.07-4.58a.6.6 0 0 1 .05-.847" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        <h3 class="status">결제 완료</h3>
                    </div>
                    <div class="line">
                        <h3 class="status">수령 완료</h3>
                    </div>

                    <!-- 상태에 따라 업데이트 -->
                    <button class="status-btn cancel-btn active">주문 취소</button>


                    <button class="status-btn receive-btn">수령 완료</button>

                    <button class="status-btn review-btn">
                        <img class="manner-icon" src="/static/images/manner.png">
                        별점 주기</button>

                </section>
                <hr class="bar">
                <div class="product">
                    <section class="header-wrapper">
                        <h1 class="header-title">
                            <!-- 상태쓰기 -->
                            <span>결제 정보</span>
                        </h1>
                    </section>
                    <div class="product-wrapper">
                        <img src="/static/images/gift-shop-post-img2.png" alt="">
                        <div class="purchase-info">
                                <span class="badge-list-container">
                                    프랑스 </span>
                            <p class="info-title">파리에서 사온 키링~</p>
                            <span class="badge-list-container amount">
                                    수량 </span>
                            <span class="info-amount">1개</span>
                            <p class="info-price">10000 원</p>
                        </div>
                    </div>

                    <!-- 직거래 일 때 -->
                    <div class="info-container">
                        <h2 class="address-wrap">판매자 정보</h2>
                        <div class="seller-info-category">
                            <span class="seller-info">배송방법</span>
                            직접 전달
                        </div>
                        <div class="seller-info-category">
                            <span class="seller-info">판매자명</span>
                            김크루
                        </div>
                        <div class="seller-info-category">
                            <span class="seller-info">전화번호</span>
                            010-1234-1234
                        </div>
                    </div>

                    <hr class="divider">

                    <div class="info-container">
                        <h2 class="address-wrap">구매자 정보</h2>
                        <div class="buyer-info-category">
                            <span class="buyer-info">주소</span>
                            서울시 동작구 무슨로 익명아파트 103동 1001호
                        </div>
                        <div class="buyer-info-category">
                            <span class="buyer-info">구매자명</span>
                            홍길동
                        </div>
                        <div class="buyer-info-category">
                            <span class="buyer-info">전화번호</span>
                            010-1234-1234
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/mypage/purchase-detail/event.js"></script>
</html>