<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.crew.CrewMapper">
    <select id="getCrews"
            resultType="com.example.crewstation.dto.crew.CrewDTO">
        select
            tc.id,
            tc.crew_name         as crewName,
            tc.crew_description  as crewDescription,
            tc.crew_member_count as crewMemberCount,
            tc.created_datetime  as createdDatetime,
            tc.updated_datetime  as updatedDatetime,
            vf.file_path         as filePath,
            vf.file_name         as fileName,
            vf.file_origin_name  as fileOriginName
        from tbl_crew tc
                 left join (
            select crew_id, file_path, file_name, file_origin_name
            from (
                     select
                         crew_id, file_path, file_name, file_origin_name,
                         row_number() over(partition by crew_id order by file_id desc) rn
                     from view_file_crew_file
                 ) t
            where t.rn = 1
        ) vf on vf.crew_id = tc.id
        order by tc.id desc

    </select>

</mapper>