<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.crew.CrewMapper">
<select id="getCrews">
    select tcm.id as id,
           tcm.crew_role as crewRole,
           tcm.crew_id as crewId,
           tcm.member_id as memberId,
           tcm.created_datetime as createdDatetime,
           tcm.updated_datetime as updatedDatetime,
           vfcf.file_origin_name as fileOriginName,
           vfcf.file_path as filePath,
           vfcf.file_name as fileName,
           vfcf.file_id as fileId
    from  tbl_crew_member tcm
        left join view_file_crew_file vfcf
            on tcm.id = vfcf.crew_id
    where tcm.id = #{crewId}
</select>
</mapper>