<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/css/mypage/my-activities/reply.css">
</head>
<body>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 다이어리
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 구하기
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 목록
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="" class="active">
                            나의 활동
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 구매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 판매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 문의
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="header">
                <div class="title">
                    <p class="title-p">나의 댓글</p>
                </div>
                <div class="profile-wrap">
                    <a href="">
                        <img class="profile-img" src="/static/images/crew-station-icon-profile.png">
                        <span class="profile-name">CREW_STATION</span>
                    </a>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-wrap">
                        <nav>
                            <button class="nav-button active">
                                <div class="p-wrap">
                                    <p class="tag-name">댓글(26)</p>
                                </div>
                            </button>
                            <button class="nav-button">
                                <div class="p-wrap">
                                    <p class="tag-name">좋아요(16)</p>
                                </div>
                            </button>
                        </nav>
                        <hr class="nav-hr">
                    </div>
                </div>
            </div>
            <section class="main-section">
                <section class="inquiry-container">
                    <div class="inquiry-wrap">
                        <img src="/static/images/diary-list-ex2.jpg" alt="">
                        <article class="inquiry">
                            <h1 class="inquiry-content">
                                <div class="inquiry-title-text">어디어디 갔다왔어요~~</div>
                            </h1>
                            <div class="inquiry-content-text">어디 갔다왔는데 너무 좋았어요~!~!!
                                <br>
                                ㅂㅈㄷㄱ쇼ㅕㅑㅐㅔㅁㄴㅇㄹ호ㅓㅏㅣㅋㅌㅊ퓨ㅜㅡㅂㅁㅋㅌㄵㄷㅇㅊㅍㄺㅅㅎㅂㄴㅁㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅋㅌㅊㅋㅇㅇㅁㄴㅇㅁㄴㅇㄴㄹㄴㅇㄹ</div>
                            <div class="reply-content active">
                                <div class="answer">
                                    <div class="reply-icon"></div>
                                    <div class="answer-container">댓글
1111
                                    </div>
                                </div>
                                <span class="writer">2분전</span>
                            </div>
                        </article>
                    </div>
                    <div class="inquiry-wrap">
                        <img src="/static/images/diary-list-ex2.jpg" alt="">
                        <article class="inquiry">
                            <h1 class="inquiry-content">
                                <div class="inquiry-title-text">어디어디 갔다왔어요~~</div>
                            </h1>
                            <div class="inquiry-content-text">어디 갔다왔는데 너무 좋았어요~!~!!
                                <br>
                                ㅂㅈㄷㄱ쇼ㅕㅑㅐㅔㅁㄴㅇㄹ호ㅓㅏㅣㅋㅌㅊ퓨ㅜㅡㅂㅁㅋㅌㄵㄷㅇㅊㅍㄺㅅㅎㅂㄴㅁㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅋㅌㅊㅋㅇㅇㅁㄴㅇㅁㄴㅇㄴㄹㄴㅇㄹ</div>
                            <div class="reply-content active">
                                <div class="answer">
                                    <div class="reply-icon"></div>
                                    <div class="answer-container">댓글
1111
                                    </div>
                                </div>
                                <span class="writer">2분전</span>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <div class="toast hide" style="display: none;">
        <div class="toast-wrap">
            <p class="toast-text">클립보드에 복사되었습니다.</p>
        </div>
    </div>
</body>
<script src="/js/mypage/my-activities/reply/event.js"></script>
</html>