<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="icon" type="image/png" href="/images/crew-station-favicon.png">
    <link rel="stylesheet" href="/css/main-page/total-search.css">
    <link rel="stylesheet" href="/css/diary/list.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <div class="page">
        <div class="page-container">
            <div class="layout">
                <header th:replace="~{fixed/web/header.html :: header}"></header>
                <main class="main-container">
                <!-- 서브 헤더 -->

                    <div class="card-feed-filter-wrap">
                        <div class="card-feed-filter-inner">
                            <button class="card-feed-filter-btn" id="filterToggle">
                                최신순
                            <svg class="arrow-icon" width="12" height="12" viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                            <path d="M6.069 6.72l4.123-3.783 1.216 1.326-5.32 4.881L.603 4.273l1.196-1.346z"></path>
                            </svg>
                            </button>

                            <!-- 정렬 드롭다운 -->
                            <ul class="card-feed-dropdown" id="filterDropdown">
                                <li data-value="latest">최신순</li>
                                <li data-value="popular">좋아요순</li>
                            </ul>
                        </div>
                    </div>
                        <!-- 다이어리 시작 부분 -->
                        <div class="diary-container">
                            <div class="diary-card-feed">
                            </div>
                        </div>
                        <div class="toast">
                    <div class="toast-wrap">
                        <p class="toast-text"></p>
                    </div>
                </div>
                </main>
            </div>
        </div>
    </div>
</body>
<script src="/js/diary/list/module/service.js"></script>
<script src="/js/diary/list/module/layout.js"></script>
<script src="/js/diary/list/event.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
</html>