<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="icon" type="image/png" href="/static/images/crew-station-favicon.png">
    <link rel="stylesheet" href="/static/css/main-page/total-search.css">
    <link rel="stylesheet" href="/static/css/diary/list.css">
    <link rel="stylesheet" href="/static/css/font.css">
</head>
<body>
    <div class="page">
        <div class="page-container">
            <div class="layout">
                <main class="main-container">
                <!-- 서브 헤더 -->
                    <header>
                        <div class="sticky-container" style="">
                            <div class="layout-navigation-secondary" style="position: relative; z-index: 1101;">
                                <div class="header-container">
                                    <div class="header-wrapper">
                                        <nav class="header-wrap">
                                            <span class="header-list-wrapper">
                                                <div class="header-list-wrap">

                                                    <a class="header-category active" href="/">
                                                        <div class="category">
                                                            <p class="header-name-check">전체</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </span>
                                            <span class="header-list-wrapper">
                                                <div class="header-list-wrap">
                                                    <a class="header-category" href="/">
                                                        <div class="category">
                                                            <p class="header-name">크루일기</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </span>
                                            <span class="header-list-wrapper">
                                                <div class="header-list-wrap">
                                                    <a class="header-category" href="/">
                                                        <div class="category">
                                                            <p class="header-name">개인일기</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </span>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="card-feed-filter-wrap">
                        <div class="card-feed-filter-inner">
                            <button class="card-feed-filter-btn" id="filterToggle">
                                최신순
                            <svg class="arrow-icon" width="12" height="12" viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                            <path d="M6.069 6.72l4.123-3.783 1.216 1.326-5.32 4.881L.603 4.273l1.196-1.346z"></path>
                            </svg>
                            </button>

                            <!-- 정렬 드롭다운 -->
                            <ul class="card-feed-dropdown" id="filterDropdown">
                                <li data-value="latest">최신순</li>
                                <li data-value="popular">추천순</li>
                            </ul>
                        </div>
                    </div>
                        <!-- 다이어리 시작 부분 -->
                        <div class="diary-container">
                            <div class="diary-card-feed">

                                <!-- 카드 반복 부분 -->
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <div class="writer-info">
                                                            <span class="writer-name">bebeyul</span>
                                                        </div>
                                                    </a>
                                                            <span class="badge-list-container">크루스테이션</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                                <!-- /카드 반복 부분 -->
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <div class="writer-info">
                                                            <span class="writer-name">bebeyul</span>
                                                        </div>
                                                    </a>
                                                            <span class="badge-list-container">크루스테이션</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="writer-info-wrap">
                                        <div class="card-writer">
                                            <div class="card-item-writer-header">
                                                <a class="card-writer-link">
                                                  <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                <div class="writer-info">
                                                    <span class="writer-name">bebeyul</span>
                                                </div>
                                                </a>
                                                    <span class="badge-list-container">크루스테이션</span>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <span class="writer-name">
                                                            bebeyul
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <span class="writer-name">
                                                            bebeyul
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <div class="writer-info">
                                                            <span class="writer-name">bebeyul</span>
                                                        </div>
                                                    </a>
                                                            <span class="badge-list-container">크루스테이션</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <span class="writer-name">
                                                            bebeyul
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="card-feed-item-wrap">
                                    <article class="card-collection-item">
                                        <div class="card-writer">
                                            <div class="card-item-writer-content">
                                                <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/164752734173442882.jpeg?w=36&h=36&c=c&webp=1" alt="" class="card-writer-img">
                                                        <div class="writer-info">
                                                            <span class="writer-name">bebeyul</span>
                                                        </div>
                                                    </a>
                                                            <span class="badge-list-container">크루스테이션</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-collection-item-content">
                                            <a class="card-content-link"></a>
                                            <div class="card-item-description">
                                                <div class="card-item-description-content">
                                                    <span class="card-item-detail-content">
                                                        풍선 가득🎈

                                                    철제선반은 서랍장을 추가해서
                                                    7살 아이 옷장으로 쓰고 있어요!

                                                    서랍장 개별 높이가 낮지만 넓어서 생각보다 많이 들어가요✨

                                                    긴 부분 1단은 상의, 2단은 하의, 3단은 셋업, 4단은 운동복
                                                    짧은부분 1단은 잠옷, 2단은 속옷&양말로 쓰고 있답니다.

                                                    남자아이라 옷이 많지 않아서 그런지
                                                    여유롭게 사용중이에요☺️

                                                    #아이방 #아이방인테리어 #오브제 #인테리어소품 #철제수납장 #수납장 #서랍장 #옷장 #모듈옷장 #행거 #모듈행거 #타공판 #타공판인테리어 #타공판책상 #책상 #책상꾸미기 #스페셜크리에이터
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-collection-item-img">
                                                <div class="card-item-img">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388571834613888.jpg?w=480&h=480&c=c&q=80&webp=1" alt="" class="image">
                                                    <span class="card-item-img-icon">
                                                        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-item-action-list">
                                                <button class="card-item-action-btn like">
                                                    <svg class="icon icon--stroke" aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                                <button class="card-item-action-btn reply">
                                                    <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                    <span class="count">234</span>
                                                </button>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="toast">
                    <div class="toast-wrap">
                        <p class="toast-text"></p>
                    </div>
                </div>
                </main>
            </div>
        </div>
    </div>
<script src="/static/js/diary/list/event.js"></script>    
</body>
</html>