<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기프트 샵</title>
    <link rel="stylesheet" href="/static/css/gift-shop/list.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="icon" type="image/png" href="/static/images/crew-station-favicon.png">
</head>
<body>
    <section id="canvas">
        <div class="product-list-wrapper">

            <!--카드 반복 부분-->
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        택배거래 </span>
                    </div>
                    
                </div>
            </article>
            <!--카드 반복 부분-->

            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-30T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        택배거래 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        택배거래 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-header">
                      <div class="product-content-nickname">닉네임</div>
                      <span class="manner-wrap">
                        <img class="product-detail-header-manner-img" src="/static/images/manner.png" width="14" height="14" alt="케미지수 아이콘">
                        <a class="product-detail-header-manner">70케미지수</a>
                      </span>
                    </div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="writer-info">
                    <span class="badge-list-container">
                        프랑스 </span>
                    <span class="badge-list-container delivery-method">
                        직접전달 </span>
                    </div>
                    
                </div>
            </article>

        

        </div>
    </section>
    <!-- 스크롤 탑 버튼 -->
    <button type="button" class="scroll-top-button-container" id="scrollTopBtn">
        <span class="scroll-top-button-wrapper">
            <span class="scroll-top-button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 19V5M5 12l7-7 7 7" 
                          stroke="currentColor" stroke-width="2" 
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </span>
        </span>
    </button>
    <script src="/static/js/gift-shop/list/event.js"></script> 
</body>
</html>