<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.accompany.AccompanyMapper">
    <select id="getAccompanies">
        select
            v.post_id            as postId,
            v.post_title         as postTitle,
            v.member_id          as memberId,
            v.created_datetime   as createdDatetime,
            v.updated_datetime   as updatedDatetime,
            v.accompany_status   as accompanyStatus,
            v.accompany_age_range as accompanyAgeRange,
            v.accompany_path_id  as accompanyPathId,
            v.country_start_date as countryStartDate,
            v.country_end_date   as countryEndDate,
            v.country_id         as countryId,
            v.country_name       as countryName,

            (
                select vfcf.file_path
                from view_file_crew_file vfcf
                where vfcf.crew_id = (
                    select cm.crew_id
                    from tbl_crew_member cm
                    where cm.member_id = v.member_id
                    order by cm.created_datetime desc
                    limit 1
                )
                order by vfcf.updated_datetime desc, vfcf.id desc
                limit 1
            ) as filePath

        from (
                 select  *
                 from view_post_accompany_accompany_path_country
                 order by post_id, created_datetime desc, accompany_path_id desc
             ) v
        order by v.created_datetime desc
        limit 4;
    </select>

</mapper>