<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.purchase.PurchaseMapper">
    <sql id="giftSearch">
        <if test="search.keyword != null and search.keyword != ''">
            and(
            vpp.purchase_country like '%' || #{keyword} || '%'
            or vpp.post_title like '%' || #{keyword} || '%'
            )
        </if>
    </sql>
    <select id="selectAllByKeyWord">
        select vpp.id,
               vpp.post_title,
               vpp.purchase_country,
               vpp.purchase_delivery_method,
               vpp.purchase_limit_time,
               vpp.purchase_product_count,
               vpp.purchase_product_price,
               vfps.file_path,
               vfps.file_name
        from view_post_purchase vpp
                 join tbl_post_section tps on vpp.id = tps.post_id and vpp.post_status = 'active'
                 join view_file_post_section_file vfps on tps.id = vfps.post_section_id and vfps.image_type = 'main'
        <include refid="giftSearch"/>
        limit #{criteria.rowCount} offset #{criteria.offset}
    </select>

    <select id="selectCountAllByKeyWord">
        select count(vpp.id)
        from view_post_purchase vpp
        join tbl_post_section tps on vpp.id = tps.post_id and vpp.post_status = 'active'
        join view_file_post_section_file vfps on tps.id = vfps.post_section_id and vfps.image_type = 'main'
        <include refid="giftSearch"/>
    </select>
</mapper>