<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.post.PostMapper">
    <insert id="insertPostReport">
        insert into tbl_post_report (report_id, post_id)
        values (#{reportId},#{postId})
    </insert>

    <select id="existsActivePost">
        select count(id) > 0
        from tbl_post
        where post_status ='active' and id=#{postId}
    </select>

    <insert id="insert" keyProperty="postId" useGeneratedKeys="true">
        insert into tbl_post(post_title,member_id)
        values (#{postTitle},#{memberId})
    </insert>
</mapper>